<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Content/BookerrCSS/Header.css?v2">
    <link rel="stylesheet" type="text/css" href="/Content/BookerrCSS/Footer.css?v1">
    <script src="~/Scripts/BookerrScripts/CartScript.js?v18"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div id="topLayer">
            <div id="layout">
                <img src="~/Content/WebAssets/LineforTop@2x.png" style="opacity: 0.6;">
                <h1 align="center">
                    <font face="Montserrat" size="5" style="color:rgb(19, 19, 19);">Up to 50% discounts for World Book
                        Day!
                        CODE: WBD50IKU </font>
                </h1>
            </div>
            <div id="about-contact">
                <div>
                    <font color="#828285">

                        <body vlink="#828285"><a href="@Url.Action("AboutUsIndex", "AboutUs")">About</a>&nbsp;&nbsp;&nbsp;
                        <a href="@Url.Action("ContactIndex", "Contact")">Contact</a>
                        </body>
                    </font>

                </div>
            </div>

            <hr class="myhr">

            <div class="bookerr-image">
                <a href="@Url.Action("Home", "Home")">
                    <img src="~/Content/WebAssets/BOOKERRLogo_Pink.svg">
                </a>
            </div>
            
                @using (Html.BeginForm("Search", "Product", FormMethod.Post))
                {
                    <div class="search-bar">
                        <input type="text" name="searchTerm" placeholder="Search">
                    </div>
                }

            <div class="profile-image">
                <a href=@Url.Action("ProfileIndex", "Profile")>
                    <img src="~/Content/WebAssets/ProfileIcon.svg">
                </a>
            </div>

            <div class="sepet-image">
                @{
                    var token = "";
                    if (Request.Cookies["accessToken"]?.Value !=null)
                    {
                        token = Request.Cookies["accessToken"].Value;
                    }
                }
                <a href="#" onclick="SenRequestForAddToCart('@token')">
                    <img src="~/Content/WebAssets/CartIcon.svg">
                </a>
            </div>
        </div>
        <div class="vertical-stripe">
            <a href="@Url.Action("SearchByCategory","Product",new{searchTerm = "Roman",page=1})" class="stripe-item">Novel</a>
            <a href="@Url.Action("SearchByCategory","Product",new{searchTerm = "Kişisel Gelişim",page=1})" class="stripe-item">Self Improvement</a>
            <a href="@Url.Action("SearchByCategory","Product",new{searchTerm = "Çocuk",page=1})" class="stripe-item">Kids</a>
            <a href="@Url.Action("SearchByCategory","Product",new{searchTerm = "E-kitap",page=1})" class="stripe-item">E Book</a>
            <a href="@Url.Action("SearchByCategory","Product",new{searchTerm = "Egitim",page=1})" class="stripe-item">Education</a>
            <a href="@Url.Action("SearchByCategory","Product",new{searchTerm = "Edebiyat",page=1})" class="stripe-item">Literature</a>
        </div>
    </header>

        @RenderBody()
        <hr/>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>

                        <body vlink="#808285 "> </body><a href="#" style="color:#808285">Main Category 1</a>
                    </h4>
                    <ul>
                        <li><a href="#">Sub Category 1</a></li>
                        <li><a href="#">Sub Category 2</a></li>
                        <li><a href="#">Sub Category 3</a></li>
                        <li><a href="#">Sub Category 4</a></li>
                        <li><a href="#">Sub Category 5</a></li>
                        <li><a href="#">Sub Category 6</a></li>
                        <li><a href="#">Sub Category 7</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>

                        <body vlink="#808285 "> </body><a href="#" style="color:#808285">Main Category 2</a>
                    </h4>
                    <ul>
                        <li><a href="#">Sub Category 1</a></li>
                        <li><a href="#">Sub Category 2</a></li>
                        <li><a href="#">Sub Category 3</a></li>
                        <li><a href="#">Sub Category 4</a></li>
                        <li><a href="#">Sub Category 5</a></li>
                        <li><a href="#">Sub Category 6</a></li>
                        <li><a href="#">Sub Category 7</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>

                        <body vlink="#808285 "> </body><a href="#" style="color:#808285">Main Category 3</a>
                    </h4>
                    <ul>
                        <li><a href="#">Sub Category 1</a></li>
                        <li><a href="#">Sub Category 2</a></li>
                        <li><a href="#">Sub Category 3</a></li>
                        <li><a href="#">Sub Category 4</a></li>
                        <li><a href="#">Sub Category 5</a></li>
                        <li><a href="#">Sub Category 6</a></li>
                        <li><a href="#">Sub Category 7</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>

                        <body vlink="#808285 "> </body><a href="#" style="color:#808285">Main Category 4</a>
                    </h4>
                    <ul>
                        <li><a href="#">Sub Category 1</a></li>
                        <li><a href="#">Sub Category 2</a></li>
                        <li><a href="#">Sub Category 3</a></li>
                        <li><a href="#">Sub Category 4</a></li>
                        <li><a href="#">Sub Category 5</a></li>
                        <li><a href="#">Sub Category 6</a></li>
                        <li><a href="#">Sub Category 7</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>

                        <body vlink="#808285 "> </body><a href="#" style="color:#808285">Main Category 5</a>
                    </h4>
                    <ul>
                        <li><a href="#">Sub Category 1</a></li>
                        <li><a href="#">Sub Category 2</a></li>
                        <li><a href="#">Sub Category 3</a></li>
                        <li><a href="#">Sub Category 4</a></li>
                        <li><a href="#">Sub Category 5</a></li>
                        <li><a href="#">Sub Category 6</a></li>
                        <li><a href="#">Sub Category 7</a></li>
                    </ul>
                    <div class="additional-links about-contact">
                        <a href="@Url.Action("AboutUsIndex", "AboutUs")" style="color:#808285">About&nbsp;</a>
                        <a href="@Url.Action("ContactIndex", "Contact")" style="color:#808285">&nbsp;&nbsp;&nbsp;&nbsp;Contact</a>
                    </div>

                    <div class="additional-links faq-help">
                        <a href="#" style="color:#808285">FAQ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="#" style="color:#808285">&nbsp;&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>

                <div class="followUs">
                    <font color="#828285">
                        <h4>FOLLOW US!</h4>
                        <div class="social-links">
                            <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube" style="line-height: 1.5;"></i></a>
                            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook" style="line-height: 1.5;"></i></a>
                            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="line-height: 1.5;"></i></a>
                            <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin" style="line-height: 1.5;"></i></a>
                        </div>
                    </font>
                </div>
            </div>
        </div>

        <div class="abovefooter">
            <img src="/Content/WebAssets/IKULogo.svg" />
            <br>

            <img src="/Content/WebAssets/BOOKERRLogo_Gray.svg" />

        </div>


        <div class="footerBottom">
            <p>&copy; Copyright 2023 Istanbul Kultur University Web Programming Group 5 | All rights reserved.
            </p>
            <img class="visa-image" src="/Content//WebAssets/MC_VISA_AE.svg" />

        </div>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)
</body>
</html>