@model WebProgrammingTerm.MVC.Models.AddressModel

<head>
    <title>My Addresses</title>

    <link rel="stylesheet" type="text/css" href="../../Content/BookerrCSS/profile.css?v27">
    <link rel="stylesheet" type="text/css" href="../../Content/BookerrCSS/address.css?v39">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="~/Scripts/BookerrScripts/AddressCarosel.js?v7" defer></script>
    <script src="~/Scripts/BookerrScripts/AddressPage.js?v11"></script>


</head>

<body>

    @if (ViewData["show"] is bool show && show)
    {
        <div class="popup-container" id="popup" >
            <div class="popup-content">
                <div class="checkmark">✔</div>
                <p>@ViewData["PopUpMessage"]</p>
                <button class="close-btn" onclick="closePopup()">Close</button>
            </div>
        </div>
        
        <script>
        showPopup()
        </script>
        
    }

<div class="mainContent">
    <div class="profileContent"style="height: 100%">
        <div class="profile_section">
            <div class="link_holder">
                <div class="profile_sections">
                    <a href="@Url.Action("ProfileIndex", "Profile")"><button type="button">Profile Details</button></a>
                    <a href="@Url.Action("Addresses", "Address")"><button type="button" style="color: white; background-color: #808285">My Addresses</button></a>
                    <a href="@Url.Action("Index","Favorites")"><button type="button">My Favorites</button></a>
                    <a href="@Url.Action("MyOrders","Cart")"><button type="button">My Orders</button></a>
                    <a href="@Url.Action("SignOut","Account")"><button type="button" style="padding-bottom: 1%">Sign Out</button></a>
                </div>
            </div>
        </div>
        <div class="address">
            <div class="my_address">

                @foreach (var location in Model.locations)
                {
                    <div class="addressInfo" id = "@location.Id">

                        <h3 style=" font-size: 16px; font-weight: 700">@location.Title</h3>
                        <content>
                            @{
                                var fullAddress = location.Address + location.City + location.ZipCode;
                                var truncatedName = fullAddress.Length > 60
                                    ? fullAddress.Substring(0, 57) + "..."
                                    : fullAddress;
                                
                            }
                            <p style=" font-size: 14px; font-weight: 500;">
                                @truncatedName
                            </p>
                            <a class="pen"><i class="fa-solid fa-pen" onclick='SetClickedIndex(@Model.locations.IndexOf(location)) ;ShowAddressInfo(@Model.locations.IndexOf(location), "@location.Id", "@location.Title", "@location.Address", "@location.City", "@location.ZipCode")'></i></a>

                            <form action="@Url.Action("DeleteAddress")" method="POST" id="deleteForm">
                                @Html.Hidden("locationIdToDelete", "")

                                    <a class="tbag" onclick="confirmDelete(@Model.locations.IndexOf(location),'@location.Id');">
                                        <button type="button" class="save-button" style="border: none; background: none; padding: 0;">
                                            <i class="fas fa-trash-can" style="color: inherit;"></i>
                                        </button>
                                    </a>
                            </form>


                            <div class="popup-container" id="confirmationPopup" style="display: none;">
                                <div class="popup-content">
                                    <div class="warning-sign">⚠️</div>
                                    <p>Are you sure you want to delete @location.Title </p>
                                    <button class="close-btn" onclick="confirmAndSubmit()">Yes</button>
                                    <button class="close-btn" style="background-color: red" onclick="closeConfirmationPopup()">No</button>
                                </div>
                            </div>

                        </content>
                        
                    </div>
                }

                <div class="addition" onclick="ResetAddress()">
                    <a href="#" class="addition-link">+</a>
                </div>
            </div>
                <div class="add-address" style="display: @(@ViewData["show"] is bool ? "block" : "none");">
                <form action="@Url.Action("AddAddress", "Address")" method="POST">

                    <h2>Add Addresses</h2>
                    @Html.HiddenFor(m => m.clickedIndex)
                    @Html.HiddenFor(m => m.locationUpdateDto.Id, new { id = "locationUpdateDto_Id" })

                    @Html.TextBoxFor(m => m.locationUpdateDto.Title, new { @class = "title-input", id = "title-input", style = "margin-bottom: 1%;", placeholder = "Address Title", required = "required" })
                    @Html.TextBoxFor(m => m.locationUpdateDto.Address, new { @class = "address-input", id = "address-input", style = "height: 40%; border-radius: 15px;margin-bottom: 2%", placeholder = "Address", required = "required" })

                    <div class="address-bars" style="margin-bottom: 2%">
                        <div class="city-bar">
                            @Html.DropDownListFor(m => m.locationUpdateDto.City, new SelectList(Model.CityList, "Value", "Text"), new { @class = "city", id = "city", required = "required" })

                        </div>
                        <div class="zipcode-bar">
                            @Html.TextBoxFor(m => m.locationUpdateDto.ZipCode, new { @class = "zipcode", id = "zipcode", placeholder = "Zip Code", required = "required" })
                        </div>
                    </div>
                    <button type="submit" class="save-button">Save</button>

                </form>
            </div>
            @{
                if (ViewData["show"] is bool show_ && show_ && ViewData["PopUpMessage"].ToString() != "Address created" && ViewData["PopUpMessage"].ToString() !="Your address successfully deleted")
                {
                    int.TryParse( ViewData["index"].ToString(),out var index);
                    var loc = Model.locations[index];
                    <script>
                    ShowAddressInfo(@index, "@loc.Id", "@loc.Title", "@loc.Address", "@loc.City", "@loc.ZipCode")
                    </script>
                }
            }
        </div>

    </div>
</div>
<script>

</script>
</body> 