@model dynamic

<head>
    <link rel="stylesheet" type="text/css" href="../../Content/BookerrCSS/sign_up.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    

</head>

<body>
    <br><br>
<div class="sign-up">
    <div class="button-items">
        <div class="sign-info">
            <p style="font-size:50px;"><strong>Sign Up</strong></p>
        </div>
        <br><br>
            @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Count > 0)
            {
                <div class="password-error">
                    <span>@ViewData.ModelState["Password"].Errors[0].ErrorMessage</span>
                </div>
            }

            <!-- Display Validation Errors for Mail -->
            @if (ViewData.ModelState["mail"] != null && ViewData.ModelState["mail"].Errors.Count > 0)
            {
                <div class="mail-error">
                    <span>@ViewData.ModelState["mail"].Errors[0].ErrorMessage</span>
                </div>
            }
 
        <form action="@Url.Action("SignUp", "Account")" method="post">
            <div class="bar">
                <div id="name-bar">
                    <input type="text" name="firstName" placeholder="First Name*" value="@Html.Raw(ViewData["firstName"] ?? string.Empty)" required>
                    <input type="text" name="lastName" placeholder="Last Name*" value="@Html.Raw(ViewData["lastName"] ?? string.Empty)" required>
                </div>
                <br>
                <div class="email-bar">
                    <input type="email" name="email" placeholder="E-Mail*" value="@Html.Raw(ViewData["email"] ?? string.Empty)" required>
                    <a href="#E6E7E8"></a>
                </div>
                <br>
                <div class="password-bar">
                    <input type="password" name="password" placeholder="Password*" required>
                    <a href="#E6E7E8" class="image-button">
                        <img src="../../Content/WebAssets/hidepasswdbutton.svg" alt="Password Button Image">
                    </a>
                </div>
                <div class="confirm-password-bar">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password*" required>
                    <a href="#E6E7E8" class="image-button">
                        <img src="../../Content/WebAssets/hidepasswdbutton.svg" alt="Confirm Password Button Image">
                    </a>
                </div>
                <div class="terms">
                    <!-- Your checkbox input fields go here -->
                </div>
                <div class="sign-button-img">
                    <input type="submit" value="Sign Up">
                </div>
                <br>
                <div class="continue">
                    <!-- Your "Continue with Google" and "Sign In" links go here -->
                </div>
                <br>
            </div>
        </form>
        <!-- Form Ends Here -->
    </div>
        
    <div class="book-img">
        <div class="book-item">
            <img src="../../Content/WebAssets/bookvector.svg" alt="Book Image">
        </div>
    </div>
</div>


</body>
