@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using System.Globalization;


@{
    ViewBag.Title = "Bookerr Home";
}

<head>
    <link rel="stylesheet" type="text/css" href="/Content/BookerrCSS/AdvertCardCaurosel.css">
    <link rel="stylesheet" type="text/css" href="/Content/BookerrCSS/ProductCard.css">
    <link rel="stylesheet" type="text/css" href="/Content/BookerrCSS/ProductCardCarosel.css">
    <script src="/Scripts/BookerrScripts/AdvertCarousel.js?v4" defer></script>
    <script src="/Scripts/BookerrScripts/ProductCardCarousel.js?v3" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="advertCarousel">
       

        <div class="advert-carousel-inner">
            
            <div class="advert-carousel-item"> <img src="/Content/WebAssets/Carousel1.png" alt="Image 1"></div>
            <div class="advert-carousel-item"><img src="/Content/WebAssets/Carousel2.png" alt="Image 2"></div>
            <div class="advert-carousel-item"><img src="/Content/WebAssets/Carousel3.png" alt="Image 3"></div>

        </div>

    </div>


    <div class="productCarousel">
        <h5 class="Title" style="color: black; font-size: 20px;padding:20px;"><strong>Top Sales</strong></h5>
        <div class="product-carousel-inner">
            @{
                var jsonData = ViewData["test"]?.ToString();  
            
                if (!string.IsNullOrEmpty(jsonData))
                {
                    try
                    {
                        var jsonArray = JArray.Parse(jsonData);
        
                        foreach (var item in jsonArray)
                        {
                            <a src="#" href="@Url.Action("Index","Product",new {id = item["productId"]})">
                                
                            <div class="product-carousel-item">
                            <div class="card" style="width: 18rem;" >
                                <img src="@item["imagePath"]" class="card-img-top" alt="productImage" >
                                <div class="card-body">
                                    <p class="card-text">
                                        <strong class="card-title">
                                            <a  style="color:inherit">
                                                @{
                                                    var name = item["publisher"].ToString().Replace("-", " ");
                                                    var titleCaseName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(name);

                                                }
                                                @titleCaseName
                                            </a><br />
                                        </strong>
                                         @{
                                             var truncatedName = item["name"].ToString().Length > 60
                                                 ? item["name"].ToString().Substring(0, 57) + "..."
                                                 : item["name"].ToString();
                                         }
                                         @truncatedName       
                                        <div class="carosel-product-info">
                                            <a href="#" onclick="addToCart('@item["productId"]')">
                                                <img src="/Content/WebAssets/Addtocart.svg" class="add-to-cart-image" alt="addToCartImage">
                                            </a>
                                            <p class="carosel-product-info-text">@item["price"]₺</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            </div>

                            </a>
                        }
                    }
                    catch (JsonReaderException ex)
                    {
                        <p>Error parsing JSON array: @ex.Message</p>
                    }
                }
                else
                {
                    <p>No JSON data available.</p>
                }
            }
            
        </div>
    </div>
<div class="productCarousel">
    <h5 class="Title" style="color: black; font-size: 20px;padding:20px;"><strong>New Products</strong></h5>
    <div class="product-carousel-inner">
        @{
            jsonData = ViewData["test2"]?.ToString();  
            
                if (!string.IsNullOrEmpty(jsonData))
                {
                    try
                    {
                        var jsonArray = JArray.Parse(jsonData);
        
                        foreach (var item in jsonArray)
                        {
                            <a src="#" href="@Url.Action("Index", "Product", new { id = item["productId"] })">
                            <div class="product-carousel-item">
                                <div class="card" style="width: 18rem;">
                                    <img src="@item["imagePath"]" class="card-img-top" alt="productImage" >
                                    <div class="card-body">
                                        <p class="card-text">
                                            <strong class="card-title">
                                                <a href="@Url.Action("Index","Product",new {id = item["productId"]})" style="color:inherit">
                                                    @{
                                                        var name = item["publisher"].ToString().Replace("-", " ");
                                                        var titleCaseName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(name);

                                                    }
                                                    @titleCaseName
                                                </a><br />
                                            </strong>
                                             @{
                                                 var truncatedName = item["name"].ToString().Length > 60
                                                     ? item["name"].ToString().Substring(0, 57) + "..."
                                                     : item["name"].ToString();
                                             }
                                             @truncatedName       
                                            <div class="carosel-product-info">
                                                <a href="../UnderDevelopement/UnderDevelopementPage.html">
                                                    <img src="/Content/WebAssets/Addtocart.svg" class="add-to-cart-image" alt="addToCartImage">
                                                </a>
                                                <p class="carosel-product-info-text">@item["price"]₺</p>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            </a>
                        }
                    }
                    catch (JsonReaderException ex)
                    {
                        <p>Error parsing JSON array: @ex.Message</p>
                    }
                }
                else
                {
                    <p>No JSON data available.</p>
                }
        }

    </div>
</div>

</body>